/*
 * style css
 * start with vl_
 */
/* ========== icons ========== */
 .vl_icon {
   display: inline-block;
   background-repeat: no-repeat;
   background-image: url(../img/icons.png);
   transition: .4s ease-out;
}
.vl_icon_logo { width: 170px; height: 48px; background-position: -96px -521px; }
/* header */
.vl_icon_011 { width: 36px; height: 38px; background-position: -702px -65px; }
.vl_icon_012 { width: 36px; height: 38px; background-position: -762px -65px; }
/* login */
.vl_icon_lg_logo { width: 350px; height: 90px; background-position: -344px -511px; }
.vl_icon_lg_01 { width: 14px; height: 16px; background-position: -712px -529px; }
.vl_icon_lg_02 { width: 14px; height: 16px; background-position: -740px -529px; }
.vl_icon_lg_03 { width: 16px; height: 16px; background-position: -767px -529px; }
.vl_icon_sed.vl_icon_lg_03 { background-position: -767px -551px; }

/* 一级导航菜单 */
.vl_icon_001 { width: 36px; height: 36px; background-position: -103px -66px; }
.vl_icon_002 { width: 36px; height: 36px; background-position: -179px -66px; }
.vl_icon_003 { width: 36px; height: 36px; background-position: -255px -66px; }
.vl_icon_004 { width: 36px; height: 36px; background-position: -331px -66px; }
.vl_icon_005 { width: 36px; height: 36px; background-position: -407px -66px; }
.vl_icon_006 { width: 36px; height: 36px; background-position: -483px -66px; }
.vl_icon_007 { width: 36px; height: 36px; background-position: -559px -66px; }
.vl_icon_008 { width: 36px; height: 36px; background-position: -636px -66px; }
/* 视频板块 */
.vl_icon_061 { width: 40px; height: 40px; background-position: -98px -466px; }
.vl_icon_062 { width: 40px; height: 40px; background-position: -156px -466px; }
.vl_icon_063 { width: 40px; height: 40px; background-position: -214px -466px; }
.vl_icon_064 { width: 40px; height: 40px; background-position: -272px -466px; }
.vl_icon_065 { width: 40px; height: 40px; background-position: -330px -466px; }
.vl_icon_061.vl_icon_sed { background-position: -98px -418px; }
.vl_icon_062.vl_icon_sed { background-position: -156px -418px; }
.vl_icon_063.vl_icon_sed { background-position: -214px -418px; }
.vl_icon_064.vl_icon_sed { background-position: -272px -418px; }
.vl_icon_065.vl_icon_sed { background-position: -330px -418px; }
/* 地图标记 */
.vl_icon_ry { width: 41px; height: 48px; background-position: -90px -188px; }
.vl_icon_kk { width: 41px; height: 48px; background-position: -153px -188px; }
.vl_icon_cl { width: 41px; height: 48px; background-position: -217px -188px; }
.vl_icon_sxt { width: 41px; height: 48px; background-position: -280px -188px; }
/* 地图板块 工具栏 */
.vl_icon_041 { width: 20px; height: 20px; background-position: -97px -375px; }
.vl_icon_sed .vl_icon_041 { background-position: -97px -345px; }
.vl_icon_042 { width: 20px; height: 20px; background-position: -232px -375px; }
.vl_icon_sed .vl_icon_042 { background-position: -232px -345px; }
.vl_icon_043 { width: 20px; height: 20px; background-position: -142px -375px; }
.vl_icon_sed .vl_icon_043 { background-position: -142px -345px; }
.vl_icon_044 { width: 20px; height: 20px; background-position: -187px -375px; }
.vl_icon_sed .vl_icon_044 { background-position: -187px -345px; }
.vl_icon_045 { width: 20px; height: 20px; background-position: -277px -375px; }
.vl_icon_sed .vl_icon_045 { background-position: -277px -345px; }
/* 地图板块 标注 */
.vl_icon_051 { width: 31px; height: 34px; background-position: -477px -196px; }

/* 布控板块图标 */
.vl_icon_control_01 { width: 41px; height: 48px; background-position: -570px -188px; }
.vl_icon_control_02 { width: 41px; height: 48px; background-position: -634px -188px; }
.vl_icon_control_03 { width: 50px; height: 70px; background-position: -246px -260px; }
.vl_icon_control_04 { width: 30px; height: 28px; background-position: -504px -130px; }
.vl_icon_control_05{width: 20px; height: 20px; background-position: -324px -376px;}
.vl_icon_control_06{ width: 24px; height: 28px; background-position: -202px -134px;}
.vl_icon_control_07{width: 28px; height: 28px; background-position: -300px -134px;}
.vl_icon_control_08{width: 28px; height: 28px; background-position: -350px -134px;}
.vl_icon_control_09{width: 20px; height: 28px; background-position: -104px -134px;}
.vl_icon_control_10{width: 20px; height: 28px; background-position: -152px -134px;}
.vl_icon_control_11{width: 24px; height: 28px; background-position: -250px -134px;}
.vl_icon_control_12{width: 20px; height: 28px; background-position: -400px -134px;}
.vl_icon_control_13{width: 28px; height: 28px; background-position: -504px -132px;}
/* 布控状态 */
.vl_control_state{
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../img/temp/con_state.png);
}
.vl_control_s{width: 120px; height: 120px; background-position: -18px -10px;}
.vl_control_o{width: 120px; height: 120px; background-position: -18px -130px;}
.vl_control_e{width: 120px; height: 120px; background-position: -18px -250px;}

.vl_icon_control_14{width: 96px; height: 100px; background-position: -86px -570px;}
.vl_icon_control_15{width: 96px; height: 100px; background-position: -208px -570px;}
.vl_icon_control_16{width: 20px; height: 20px; background-position: -414px -346px;}
.vl_icon_control_17{width: 20px; height: 20px; background-position: -622px -375px;}
.vl_icon_control_18{width: 20px; height: 20px; background-position: -654px -346px;}
.vl_icon_control_19{width: 20px; height: 21px; background-position: -694px -371px;}
.vl_icon_control_20{width: 20px; height: 20px; background-position: -584px -374px;}
.vl_icon_control_21{width: 20px; height: 20px; background-position: -414px -374px;}
.vl_icon_control_22{width: 20px; height: 20px; background-position: -500px -347px;}
.vl_icon_control_23{width: 30px; height: 32px; background-position: -636px -128px;}
.vl_icon_control_24{width: 20px; height: 20px; background-position: -694px -345px;}
.vl_icon_control_25{width: 20px; height: 20px; background-position: -584px -345px;}
.vl_icon_control_26{width: 20px; height: 20px; background-position: -755px -374px;}
.vl_icon_control_27{width: 20px; height: 20px; background-position: -786px -374px;}
.vl_icon_control_28{width: 20px; height: 20px; background-position: -902px -374px;}
.vl_icon_control_29{width: 20px; height: 13px; background-position: -621px -376px;}
.vl_icon_control_30{width: 50px; height: 70px; background-position: -320px -258px;}
.vl_icon_control_31{width: 20px; height: 20px; background-position: -935px -375px;}
.vl_icon_control_32{width: 20px; height: 21px; background-position: -369px -376px;}
/**事件图标***/
.vl_icon_event_1{width: 56px; height: 71px; background-position: -580px -428px;}
.vl_icon_event_2{width: 16px; height: 16px; background-position: -754px -375px;}
.vl_icon_event_3{width: 16px; height: 16px; background-position: -785px -375px;}
.vl_icon_event_4{width: 28px; height: 28px; background-position: -664px -428px;}
.vl_icon_event_5{width: 16px; height: 16px; background-position: -664px -486px;}
.vl_icon_event_6{width: 18px; height: 18px; background-position: -664px -465px;}
.vl_icon_event_7{width: 23px; height: 22px; background-position: -903px -375px;}
.vl_icon_event_8{width: 21px; height: 21px; background-position: -872px -375px;}
/* 全局字体颜色 */
.vl_f_333{color: #333;}
.vl_f_666{color: #666;}
.vl_f_999 {color: #999;}
/* 全局字体大小 */
.vl_f_16{font-size: 16px;}
.vl_f_12{font-size: 12px;}
/* 表格操作项 */
.table_box .operation_btn{
  color: #0C70F8;
  cursor: pointer;
}
.table_box .operation_wire{
  display: inline-block;
  padding: 0 5px;
  color: #F2F2F2;
}
/* ========== element ui reset ========== */
.el-badge__content {
   border: 0 !important;
   background-color: #FA453A;
}

/* 左侧二级菜单样式 */
.vl_smenu {
  background-color: #ffffff;
  position: absolute; top: 0; left: 0;
  width: 200px; height: 100%;
  box-shadow:4px 0px 10px 0px #838383;
  box-shadow:4px 0px 10px 0px rgba(131,131,131,0.28);
  animation: fadeInLeft .4s ease-out .3s both;
}
.vl_smenu > li {
  height: 60px; line-height: 60px;
  text-align: center;
}
.vl_smenu > li > a {
  display: block;
  width: 100%; height: 100%;
  padding-right: 10px;
  color: #282D44; font-size: 14px;
  text-decoration: none !important;
  border-left: 4px solid #fff;
  transition: all .4s ease-out;
}
.vl_smenu > li > a.router-link-active {
  color: #0C70F8;
  border-color: #0C70F8;
  background-color: #E0F3FF;
  cursor: default;
}
.vl_smenu > li > a:hover {
  color: #0C70F8;
}
.vl_smenu .vl_smenu_dis {
  cursor: not-allowed;
  color: #999 !important;
}

/* ========== 地图板块 ========== */
 .vl_map_lc_dt_inp {
   width: 100%;
 }
 .vl_map_lc_dt_inp input {
   background-color: #F2F2F2;
   border: 1px solid #DFDFDF !important;
   box-shadow:4px 0px 15px 0px rgba(131,131,131,0.23);
   border-radius: 14px;
   padding-right: 40px;
   font-size: 12px;
 }
 .vl_map_rt_cks {
   display: inline-block;
 }
/* 地图标记 hover */
 .vl_map_hover {
   position: relative;
   width: 2px; height: 2px;
   cursor: pointer;
 }
 .vl_map_hover_main {
   position: absolute; bottom: 59px; left: -103px;
   width: 200px;
   background-color: #fff;
   color: #666;
   border-radius: 4px;
   box-shadow:0px 12px 14px 0px rgba(148,148,148,0.4);
 }
 .vl_map_hover_main:after {
   border-bottom-color: rgba(0, 0, 0, 1);
   content: "";
   display: inline-block;
   position: absolute;
   left: 50%;
   margin-left: -5px;
   bottom: -10px;
   border-top: 10px solid #fff;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
 }
 .vl_map_hover_main > ul {
   padding: 10px;
 }
 .vl_map_hover_main > ul > li > span {
   display: inline-block;
   width: 70px;
   text-align: right;
 }
 .vl_map_hover_main_p {
   padding: 10px;
   color: #666666;
 }
/* 标注窗口 */
.vl_map_mk {
   position: relative;
   width: 2px; height: 2px;
   cursor: pointer;
}
.vl_map_mk_main {
   position: absolute; top: -40px; left: 30px;
   width: 280px; min-height: 100px;
   padding: 20px;
   background-color: #fff;
   color: #666;
   border-radius: 4px;
   box-shadow:0px 12px 14px 0px rgba(148,148,148,0.4);
   cursor: default;
 }
 .vl_map_mk_main:after {
   border-bottom-color: rgba(0, 0, 0, 1);
   content: "";
   display: inline-block;
   position: absolute; left: -10px; top: 30px;
   border-bottom: 10px solid transparent;
   border-top: 10px solid transparent;
   border-right: 10px solid #fff;
 }
 .vl_map_mk_main > textarea {
   width: 100%;
   border: 0;
   border-bottom: 1px solid #93B1E0;
 }
 .vl_map_mk_main > div { position: relative; text-align: center; padding-top: 20px; }
 .vl_map_mk_main > div > p {
    display: none;
    position: absolute; top: 0; left: 0;
    width: 100%;
    text-align-last: left;
    color: #FA453A;
  }
 .vl_map_mk_main .vl_map_mk_btn {
   display: inline-block;
   width: 80px; height: 30px; line-height: 30px;
   text-align: center;
   border-radius: 4px;
   cursor: pointer;
   border: 0;
 }
 .vl_map_mk_main .vl_map_mk_btn1 {
   background-color: #fff;
   color: #0C70F8;
   border: 1px solid #0C70F8;
 }
 .vl_map_mk_main .vl_map_mk_btn1:disabled { color: #999; border-color: #999; cursor: not-allowed; }
 .vl_map_mk_main .vl_map_mk_btn2 {
   background-color: #0C70F8;
   color: #fff;
 }
 .vl_map_mk_main .vl_map_mk_btn2:disabled { color: #fff; cursor: not-allowed; background-color: #a0cfff; }
/* 选择区域控制 */
.vl_map_selarea_ctl {}
.vl_map_selarea_ctl .vl_map_selarea_hide {
   display: none;
}
/* 测距样式 */
.vl_map_ranging {
   width: 24px; height: 24px;
   background-color: #fff;
   border-radius: 50%;
   position: relative;
}
.vl_map_ranging > div {
   position: absolute; top: 12%; left: 12%;
   width: 76%; height: 76%;
   border-radius: 50%;
   background-color: #0C70F8;
   color: #fff;
}
.vl_map_ranging_s {

}
.vl_map_ranging_m {
}
.vl_map_ranging_e {
   width: 34px; height: 34px;
   font-size: 14px;
   text-align: center;
}
.vl_map_ranging_e > div { padding-top: 3px; }
.vl_map .amap-ranging-label {
   padding: 0 12px;
   background-color: #0C70F8;
   color: #fff;
   border-radius: 12px;
}
.vl_map .amap-ranging-label > span {
   display: inline-block;
   line-height: 26px;
   height: 26px;
   vertical-align: middle;
}
.vl_map .amap-ranging-label > span > img{
   padding-left: 2px;
}

.login_form_item .el-input__inner { padding: 0 30px; }

/** 表格样式 **/
.el-table {
  color: #666666;
}
.el-table th {
  background-color: #F7F7F7;
}
.el-table thead {
  color: #333333;
}
.el-table .hover-row>td {
  background-color: #E6F7FF !important;
}
.el-table th>.cell {
  font-weight: bolder;
}

/** 分页样式 **/
.el-pagination {
  text-align: right;
  padding: 20px;
}
.el-pagination .btn-prev, .el-pagination .btn-next {
  width: 32px;
  height: 32px;
  padding: 0;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  color: #333333;
}
.el-pager li.active {
  color: #ffffff;
  width: 32px;
  height: 32px;
  background-color: #0C70F8;
  border-radius: 5px;
}
.el-pager li {
  width: 32px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  color: #333333;
  margin: 0 5px;
  font-weight: 500;
}

/** 面包屑导航样式 **/
.breadcrumb_heaer {
  padding: 20px;
}
.el-breadcrumb__inner a, .el-breadcrumb__inner.is-link {
  color: #999999;
  font-weight: 400;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
  color: #333333;
  font-weight: 400;
}
.el-breadcrumb__separator {
  color: #999999;
}

/** 上传图片组件 **/
.el-upload--picture-card {
  width: 100px;
  height: 100px;
  line-height: 100px;
  background-color: #F5F5F5;
  border: 1px solid #F5F5F5;
  position: relative;
}
.el-upload--picture-card  i {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  color: #9F9F9F;
}
.el-upload--picture-card .add-img-text {
  color: #666666;
  font-size: 14px;
  display: block;
  width: 28px;
  height: 22px;
  position: absolute;
  top: 25%;
  left: 35%;
}
.el-upload-list--picture-card .el-upload-list__item {
  width: 104px;
  height: 104px;
}

/* element-ui reset */
.el-date-editor .el-range-separator {
  width: 30px;
  text-align: center;
}
/* 重置全局弹窗样式 */
.el-dialog__wrapper .el-dialog__body{
  padding: 0px 20px 30px;
}
.el-dialog__wrapper .el-dialog__footer{
  text-align: center;
}
.el-dialog__wrapper .el-dialog__footer .el-button{
  width: 140px !important;
}
/* 滑动开关颜色 */
.el-switch.is-checked .el-switch__core {
  border-color: #086BEC;
  background-color: #086BEC;
}

/**输入框，下拉框样式**/
.el-input__inner:hover, .el-textarea__inner:hover, .el-select .el-input__inner:hover{
  border-color: #0C70F8;
  cursor: pointer;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background-color: #EDF9FF;
  color: #333333;
}
.el-select-dropdown__item.selected {
  background-color: #FAFAFA;
  color: #333333;
  font-weight: bold;
}
.el-form-item.is-success .el-input__inner, 
.el-form-item.is-success .el-input__inner:focus, 
.el-form-item.is-success .el-textarea__inner, 
.el-form-item.is-success .el-textarea__inner:focus {
  border-color: #D3D3D3;
}