/*
 * style css
 * start with vl_
 */
/* ========== icons ========== */
 .vl_icon {
   display: inline-block;
   background-repeat: no-repeat;
   background-image: url(../img/icons.png);
   /* transition: .4s ease-out; */
}
.vl_icon_logo { width: 170px; height: 48px; background-position: -96px -521px; }
/* header */
.vl_icon_011 { width: 36px; height: 38px; background-position: -702px -65px; }
.vl_icon_012 { width: 36px; height: 38px; background-position: -762px -65px; }
/* login */
.vl_icon_lg_logo { width: 350px; height: 90px; background-position: -344px -511px; }
.vl_icon_lg_01 { width: 14px; height: 16px; background-position: -712px -529px; }
.vl_icon_lg_02 { width: 14px; height: 16px; background-position: -740px -529px; }
.vl_icon_lg_03 { width: 16px; height: 16px; background-position: -767px -529px; }
.vl_icon_sed.vl_icon_lg_03 { background-position: -767px -551px; }
.vl_icon_sed span {
  color: #0B6FF7;
}

/* 一级导航菜单 */
.vl_icon_001 { width: 36px; height: 36px; background-position: -103px -66px; }
.vl_icon_002 { width: 36px; height: 36px; background-position: -179px -66px; }
.vl_icon_003 { width: 36px; height: 36px; background-position: -255px -66px; }
.vl_icon_004 { width: 36px; height: 36px; background-position: -331px -66px; }
.vl_icon_005 { width: 36px; height: 36px; background-position: -407px -66px; }
.vl_icon_006 { width: 36px; height: 36px; background-position: -483px -66px; }
.vl_icon_007 { width: 36px; height: 36px; background-position: -559px -66px; }
.vl_icon_008 { width: 36px; height: 36px; background-position: -636px -66px; }
/* 视频板块 */
.vl_icon_061 { width: 40px; height: 40px; background-position: -98px -466px; }
.vl_icon_062 { width: 40px; height: 40px; background-position: -156px -466px; }
.vl_icon_063 { width: 40px; height: 40px; background-position: -214px -466px; }
.vl_icon_064 { width: 40px; height: 40px; background-position: -272px -466px; }
.vl_icon_065 { width: 40px; height: 40px; background-position: -330px -466px; }
.vl_icon_061.vl_icon_sed { background-position: -98px -418px; }
.vl_icon_062.vl_icon_sed { background-position: -156px -418px; }
.vl_icon_063.vl_icon_sed { background-position: -214px -418px; }
.vl_icon_064.vl_icon_sed { background-position: -272px -418px; }
.vl_icon_065.vl_icon_sed { background-position: -330px -418px; }
.vl_icon_close { width: 32px; height: 32px; background-position: -556px -294px; }
.vl_icon_v11 { width: 16px; height: 18px; background-position: -323px -375px; }
.vl_icon_v21 { width: 24px; height: 24px; background-position: -58px -133px; }
.vl_icon_v22 { width: 24px; height: 24px; background-position: -99px -133px; }
.vl_icon_v23 { width: 24px; height: 24px; background-position: -149px -133px; }
.vl_icon_v232 { width: 24px; height: 24px; background-position: -480px -257px; }
.vl_icon_v233 { width: 24px; height: 24px; background-position: -522px -257px; }
.vl_icon_v24 { width: 24px; height: 24px; background-position: -200px -132px; }
.vl_icon_v25 { width: 24px; height: 24px; background-position: -249px -131px; }
.vl_icon_v25_2 { width: 24px; height: 24px; background-position: -481px -295px; }
.vl_icon_v26 { width: 24px; height: 24px; background-position: -298px -132px; }
.vl_icon_v27 { width: 24px; height: 24px; background-position: -350px -132px; }
.vl_icon_v28 { width: 24px; height: 24px; background-position: -399px -133px; }
.vl_icon_v29 { width: 24px; height: 24px; background-position: -872px -259px; }
.vl_icon_v292 { width: 24px; height: 24px; background-position: -872px -303px; }
.vl_icon_v30 { width: 24px; height: 24px; background-position: -566px -257px; }
.vl_icon_v31 { width: 24px; height: 24px; background-position: -877px -132px; }
.vl_icon_v32 { width: 24px; height: 24px; background-position: -923px -134px; }
.vl_icon_v51 { width: 80px; height: 80px; background-position: -659px -254px; }
.vl_icons_ptz { width: 24px; height: 24px; background-position: -820px -303px; }
.vl_icon_rpm { width: 48px; height: 48px; background-position: -980px -251px; }
.vid_icon_ssz { width: 30px; height: 160px; background-position: -1096px -1280px; }
.vid_icon_ssz:hover { background-position: -1156px -1280px; }
.vid_icon_ssz.vid_icon_sss { background-position: -976px -1280px; }
.vid_icon_ssz.vid_icon_sss:hover { background-position: -1036px -1280px; }
/* 地图标记 */
.vl_icon_ry { width: 41px; height: 48px; background-position: -90px -188px; }
.vl_icon_kk { width: 41px; height: 70px; background-position: -153px -170px; }
.vl_icon_kk_dis { width: 41px; height: 48px; background-position: -885px -188px; }
.vl_icon_cl { width: 41px; height: 48px; background-position: -217px -188px; }
.vl_icon_sxt { width: 41px; height: 70px; background-position: -280px -170px; }
.vl_icon_sxt_dis { width: 41px; height: 48px; background-position: -344px -188px; }
.qyryfx_vl_icon_wrap { width: 125px; height: 50px; }
.qyryfx_vl_icon_wrap .people_counts_l1 { width:76px; height:30px; line-height: 30px; color: #fff; font-size: 14px; text-align: center; float: left; border-radius:15px; margin: 3px 0 0 3px; }
.qyryfx_vl_icon_wrap .vl_icon { float: left; }

.qyryfx_vl_icon_wrap .level1 { background: #fa453a; }
.qyryfx_vl_icon_wrap .level2 { background: #f4ba18; }
.qyryfx_vl_icon_wrap .level3 { background: #8949f3; }
.qyryfx_vl_icon_wrap .level4 { background: #6262FF; }
.qyryfx_vl_icon_wrap .level5 { background: #0C70F8; }
.qyryfx_vl_icon_wrap .level6 { background: #0D9DF4; }


.vl_icon_sxt_not_choose { width: 41px; height: 70px; background-position: -344px -170px; }
.vl_icon_zzd { width: 41px; height: 70px; background-position: -700px -170px; }
.vl_icon_sxt_uncheck { width: 41px; height: 70px; background-position: -760px -170px; }
.vl_icon_kk_uncheck { width: 41px; height: 70px; background-position: -820px -170px; }
/*各种车子-737px -1450px;*/
.vl_icon_map_mark23 { width: 47px;  height: 74px; background-position: -559px -1434px;}
.vl_icon_map_mark21 { width: 47px;  height: 74px; background-position: -617px -1434px;}
.vl_icon_map_mark25 { width: 47px;  height: 74px; background-position: -674px -1434px;}
.vl_icon_map_mark24 { width: 47px;  height: 74px; background-position: -733px -1434px;}
/* 地图板块 侧边栏*/
.vl_icon_map_002 { width: 20px; height: 19px; background-position: -365px -376px; }
.vl_icon_map_001 { width: 20px; height: 19px; background-position: -321px -350px; }
.vl_icon_map_mark6 { width: 43px; height: 68px; background-position: -340px -174px; }
.vl_icon_map_mark3 { width: 43px;  height: 68px; background-position: -84px -171px; }
.vl_icon_map_mark1 { width: 43px;  height: 68px; background-position: -149px -171px; } /* 卡口--紫色 */
.vl_icon_map_mark11 { width: 43px;  height: 68px; background-position: -262px -1160px; } /* 卡口--紫色 */
.vl_icon_map_mark2, .vl_icon_map_mark22  { width: 43px;  height: 68px; background-position: -214px -171px; }
.vl_icon_map_mark0 { width: 43px;  height: 68px; background-position: -275px -171px; } /* 摄像头 */
.vl_icon_map_mark4 { width: 31px; height: 34px; background-position: -477px -196px; }
.vl_icon_map_mark7 { width: 40px; height: 57px; background-position: -208px -1160px; } /* 摄像头 紫色 */
.vl_icon_map_mark8 { width: 40px; height: 57px; background-position: -478px -1160px; }  /* 卡口 蓝色 */
.vl_icon_map_mark12 { width: 40px; height: 68px; background-position: -526px -1160px; }  /* 车辆轨迹共同途径点卡口 */
.vl_icon_map_mark13 { width: 40px; height: 68px; background-position: -205px -1160px; }  /* 车辆轨迹共同途径点摄像头 */
.vl_icon_map_mark_start { width: 80px; height: 80px; background-position: -423px -1080px; }  /* 共同途径点摄像头 */
.vl_icon_map_mark_end { width: 80px; height: 80px; background-position: -319px -1083px; }  /* 共同途径点摄像头 */

.vl_icon_map_sxt_error { width: 43px; height: 68px; background-position: -402px -174px; }
.vl_icon_map_hover_mark0 { width: 47px;  height: 68px; background-position: -609px -1160px;} /* 摄像头移上去效果 */
.vl_icon_map_hover_mark1 { width: 47px;  height: 68px; background-position: -670px -1160px;} /* 卡口紫色移上去效果 **/
.vl_icon_map_hover_mark2{ width: 47px;  height: 68px; background-position: -787px -1163px;}
.vl_icon_map_hover_mark3 { width: 47px;  height: 68px; background-position: -394px -260px;}
.vl_icon_map_hover_mark7 { width: 47px;  height: 68px; background-position: -856px -1163px;} /* 摄像头紫色移上去效果 */
.vl_icon_map_hover_mark8 { width: 47px;  height: 68px; background-position: -670px -1160px;} /* 卡口蓝色移上去效果 **/
.vl_icon_map_hover_mark11 { width: 47px;  height: 68px; background-position: -916px -1163px; } /* 卡口紫色移上去效果*/
.vl_icon_map_hover_mark12 { width: 47px;  height: 68px; background-position: -915px -1163px; } /* 车辆轨迹共同途径点卡口*/
.vl_icon_map_hover_mark13 { width: 47px;  height: 68px; background-position: -857px -1163px; } /* 车辆轨迹共同途径点摄像头*/
.vl_icon_map_mark17 { width: 40px; height: 57px; background-position: -530px -1096px; }  /* 同行车辆 */
.vl_icon_map_hover_mark17 { width: 47px; height: 68px; background-position: -1068px -1163px; }  /* 同行车辆移上去 */

.vl_icon_012_012 { width: 104px; height: 87px; background-position: -826px -611px; }

/* .vl_icon_map_hover_mark5 { width: 47px;  height: 68px; background-position: -394px -260px;} */
.vl_icon_map_mark_calling { width: 47px;  height: 68px; background-position: -394px -260px;}
.vl_icon_map_calling0 { width: 32px;  height: 26px; background: url("../img/webrtc/webrtc11.png") no-repeat; }
.vl_icon_map_calling1 { width: 32px;  height: 26px; background: url("../img/webrtc/webrtc04.png") no-repeat; }
.vl_icon_map_car0 { width: 47px;  height: 74px; background-position: -400px -426px;}
/* 地图板块 工具栏 */
.vl_icon_041 { width: 20px; height: 20px; background-position: -97px -375px; }
.vl_icon_sed .vl_icon_041 { background-position: -97px -347px; }
.vl_icon_042 { width: 20px; height: 20px; background-position: -232px -375px; }
.vl_icon_sed .vl_icon_042 { background-position: -232px -347px; }
.vl_icon_043 { width: 20px; height: 20px; background-position: -142px -375px; }
.vl_icon_sed .vl_icon_043 { background-position: -142px -347px; }
.vl_icon_044 { width: 20px; height: 20px; background-position: -187px -375px; }
.vl_icon_sed .vl_icon_044 { background-position: -187px -347px; }
.vl_icon_045 { width: 20px; height: 20px; background-position: -277px -375px; }
.vl_icon_sed .vl_icon_045 { background-position: -277px -347px; }
/* 地图板块 标注 */
.vl_icon_051 { width: 31px; height: 34px; background-position: -477px -196px; }
/* 地图板块 视频通话 */
.vl_icon_vc_011 { width: 37px; height: 27px; background: url("../img/webrtc/webrtc01.png") no-repeat; }
.vl_icon_vc_021 { width: 48px; height: 48px; background: url("../img/webrtc/webrtc08.png") no-repeat; }
.vl_icon_vc_022 { width: 48px; height: 48px; background: url("../img/webrtc/webrtc02.png") no-repeat  -2px -1px; }
.vl_icon_vc_023 { width: 48px; height: 48px; background: url("../img/webrtc/webrtc07.png") no-repeat  -5px -3px; }
.vl_icon_vc_024 { width: 48px; height: 48px; background: url("../img/webrtc/webrtc03.png") no-repeat  -2px -1px; }
.vl_icon_vc_025 { width: 48px; height: 48px; background: url("../img/webrtc/webrtc09.png") no-repeat  5px 5px; }
/* 布控板块图标 */
.vl_icon_control_01 { width: 41px; height: 70px; background-position: -565px -170px; }
.vl_icon_control_02 { width: 41px; height: 70px; background-position: -634px -170px; }
.vl_icon_control_03 { width: 50px; height: 70px; background-position: -246px -260px; }
.vl_icon_control_04 { width: 30px; height: 28px; background-position: -504px -130px; }
.vl_icon_control_05{width: 20px; height: 20px; background-position: -324px -376px;}
.vl_icon_control_06{ width: 24px; height: 28px; background-position: -202px -134px;}
.vl_icon_control_07{width: 28px; height: 28px; background-position: -300px -134px;}
.vl_icon_control_08{width: 28px; height: 28px; background-position: -350px -134px;}
.vl_icon_control_09{width: 20px; height: 25px; background-position: -100px -132px;}
.vl_icon_control_10{width: 20px; height: 28px; background-position: -152px -134px;}
.vl_icon_control_11{width: 24px; height: 28px; background-position: -250px -134px;}
.vl_icon_control_12{width: 20px; height: 28px; background-position: -400px -134px;}
.vl_icon_control_13{width: 28px; height: 28px; background-position: -504px -132px;}
/* 研判 */
.vl_icon_judge_01{width: 22px; height: 28px; background-position: -62px -134px;} /* 暂停*/
.vl_icon_judge_03{width: 56px;  height: 68px;  background-position: -300px -1150px;} /* 次数1*/
.vl_icon_judge_04{width: 56px;  height: 68px;  background-position: -417px -1150px;} /* 次数2*/
.vl_icon_judge_05{width: 56px;  height: 68px;  background-position: -377px -1150px;} /* 次数3*/
.vl_icon_judge_06{width: 56px;  height: 68px;  background-position: -224px -1150px;} /* 次数4*/
.vl_icon_judge_02{width: 56px;  height: 68px;  background-position: -604px -1160px;} /* 选中状态摄像头*/
/* 检索 */
.vl_icon_retrieval_01 {width: 20px; height: 22px; background-position: -618px -669px;}
.vl_icon_retrieval_02 {width: 20px; height: 22px; background-position: -322px -375px;}
.vl_icon_retrieval_03 {width: 20px; height: 26px; background-position: -730px -664px;}
.vl_icon_retrieval_04 {width: 20px; height: 22px; background-position: -686px -669px;}
.vl_icon_retrieval_05 {width: 16px; height: 16px; background-position: -777px -640px;}
.vl_icon_retrieval_06 {width: 16px; height: 16px; background-position: -777px -669px;}
.vl_icon_retrieval_07 {width: 140px; height: 114px; background-position: -680px -1303px;}
.vl_icon_retrieval_08 {width: 20px; height: 20px; background-position: -620px -376px;}
.vl_icon_retrieval_09 {width: 20px; height: 20px; background-position: -818px -670px;}
/* 布控状态 */
.vl_control_s{width: 120px; height: 120px; background-position: -526px -716px;}
.vl_control_o{width: 120px; height: 120px; background-position: -665px -716px;}
.vl_control_e{width: 120px; height: 120px; background-position: -802px -716px;}

.vl_icon_control_14{width: 96px; height: 100px; background-position: -86px -570px;}
.vl_icon_control_15{width: 96px; height: 100px; background-position: -208px -570px;}
.vl_icon_control_16{width: 20px; height: 20px; background-position: -414px -346px;}
.vl_icon_control_17{width: 20px; height: 20px; background-position: -622px -375px;}
.vl_icon_control_18{width: 20px; height: 20px; background-position: -654px -346px;}
.vl_icon_control_19{width: 20px; height: 21px; background-position: -694px -371px;}
.vl_icon_control_20{width: 20px; height: 20px; background-position: -584px -374px;}
.vl_icon_control_21{width: 20px; height: 20px; background-position: -414px -374px;}
.vl_icon_control_22{width: 20px; height: 20px; background-position: -500px -347px;}
.vl_icon_control_23{width: 39px; height: 38px; background-position: -636px -128px;}
.vl_icon_control_24{width: 20px; height: 20px; background-position: -694px -345px;}
.vl_icon_control_25{width: 20px; height: 20px; background-position: -584px -345px;}
.vl_icon_control_26{width: 20px; height: 20px; background-position: -755px -374px;}
.vl_icon_control_27{width: 20px; height: 20px; background-position: -786px -374px;}
.vl_icon_control_28{width: 20px; height: 20px; background-position: -902px -374px;}
.vl_icon_control_29{width: 20px; height: 13px; background-position: -621px -376px;}
.vl_icon_control_30{width: 50px; height: 70px; background-position: -320px -258px;}
.vl_icon_control_31{width: 20px; height: 20px; background-position: -935px -375px;}
.vl_icon_control_32{width: 20px; height: 21px; background-position: -369px -376px;}
.vl_icon_control_33{width: 42px; height: 36px; background-position: -478px -880px;}
.vl_icon_control_34{width: 48px; height: 70px; background-position: -610px -1158px;}
.vl_icon_control_35{width: 48px; height: 70px; background-position: -670px -1158px;}
.vl_icon_control_36{width: 48px; height: 70px; background-position: -732px -1158px;}
.vl_icon_control_37{width: 48px; height: 70px; background-position: -320px -260px;}
.vl_icon_control_38{width: 24px; height: 48px; background-position: -496px -1520px;}
.vl_icon_control_39{width: 24px; height: 48px; background-position: -547px -1520px;}
.vl_icon_control_40{width: 18px; height: 18px; background-position: -712px -530px;}
/**消息图标***/
.vl_icon_message_1{width: 20px; height: 20px; background-position: -278px -992px;}
.vl_icon_message_2{width: 20px; height: 20px; background-position: -323px -990px;}
.vl_icon_message_3{width: 16px; height: 16px; background-position: -914px -529px;}
.vl_icon_message_4{width: 16px; height: 16px; background-position: -886px -529px;}
.vl_icon_message_5{width: 16px; height: 16px; background-position: -862px -529px;}
.vl_icon_message_6{width: 30px; height: 30px; background-position: -816px -425px;}
.vl_icon_message_7{width: 50px; height: 70px; background-position: -320px -260px;}
/**告警图标***/
.vl_icon_alarm_1{width: 114px; height: 32px; background-position: -548px -882px;}
.vl_icon_alarm_2{width: 26px; height: 25px; background-position: -695px -888px;}
.vl_icon_alarm_3{width: 26px; height: 25px; background-position: -741px -888px;}
.vl_icon_alarm_4{width: 26px; height: 25px; background-position: -787px -888px;}
.vl_icon_alarm_5{width: 26px; height: 25px; background-position: -832px -888px;}
.vl_icon_alarm_6{width: 26px; height: 25px; background-position: -877px -888px;}
/**事件图标***/
.vl_icon_event_1{width: 72px; height: 72px; background-position: -572px -426px;}
.vl_icon_event_2{width: 16px; height: 16px; background-position: -754px -375px;}
.vl_icon_event_3{width: 16px; height: 16px; background-position: -785px -375px;}
.vl_icon_event_4{width: 28px; height: 28px; background-position: -664px -428px;}
.vl_icon_event_5{width: 16px; height: 16px; background-position: -664px -486px;} /* 事件--文件上传 -- 前图标 */
.vl_icon_event_6{width: 18px; height: 18px; background-position: -664px -465px;} /* 事件--文件上传下载图标 */
.vl_icon_event_7{width: 23px; height: 22px; background-position: -903px -375px;}
.vl_icon_event_8{width: 21px; height: 21px; background-position: -872px -375px;}
.vl_icon_event_9{width: 117px; height: 117px; background-position: -91px -718px;} /*事件---未处理*/
.vl_icon_event_10{width: 117px; height: 117px; background-position: -227px -718px;} /*事件---处理中*/
.vl_icon_event_11{width: 117px; height: 117px; background-position: -364px -718px;} /*事件---已结束*/
.vl_icon_event_12{width: 117px; height: 117px; background-position: -525px -718px;} /*事件---待开始*/
.vl_icon_event_13{width: 117px; height: 117px; background-position: -667px -718px;} /*事件---进行中*/
.vl_icon_event_14{width: 22px; height: 18px; background-position: -809px -1093px;} /*事件---语音通话*/
.vl_icon_event_15{width: 20px; height: 23px; background-position: -105px -135px;} /*事件---视频暂停*/
.vl_icon_event_16{width: 24px; height: 26px; background-position: -820px -428px;} /*事件---暂无数据--表情*/
.vl_icon_event_17{width: 22px; height: 12px; background-position: -809px -1126px;} /*事件---视频通话*/
.vl_icon_event_18{width: 24px; height: 26px; background-position: -770px -428px;} /*事件---开心的表情--表情*/
.vl_icon_event_19{width: 70px; height: 70px; background-position: -93px -863px;} /*事件---图片切换-可用-右*/
.vl_icon_event_20{width: 70px; height: 70px; background-position: -186px -863px;} /*事件---图片切换-可用-左*/
.vl_icon_event_21{width: 70px; height: 70px; background-position: -282px -863px;} /*事件---图片切换-不可用-左*/
.vl_icon_event_22{width: 70px; height: 70px; background-position: -370px -863px;} /*事件---图片切换-不可用-右*/
.vl_icon_event_23{width: 35px; height: 35px; background-position: -554px -293px;} /*事件---图片放大-关闭*/
.vl_icon_event_24{width: 20px; height: 20px; background-position: -615px -309px;} /*事件---图片--关闭*/
.vl_icon_event_25{width: 18px; height: 12px; background-position: -693px -486px;} /*事件---预览文件*/
.vl_icon_event_26{width: 22px; height: 22px; background-position: -725px -481px;} /*事件---下载视频*/
.vl_icon_event_27{width: 14px; height: 15px; background-position: -689px -670px;} /*事件---添加事件--地图小图标*/
/****事件-统计分析****/
.vl_icon_statistics_1{width: 70px; height: 31px; background-position: -167px -1038px;} /*待处理右*/
.vl_icon_statistics_2{width: 70px; height: 31px; background-position: -273px -1030px;} /*处理中右*/
.vl_icon_statistics_3{width: 73px; height: 37px; background-position: -380px -1032px;} /*处理完成右*/
.vl_icon_statistics_4{width: 73px; height: 42px; background-position: -485px -1032px;} /*事件数量右*/
.vl_icon_statistics_5{width: 83px; height: 83px; background-position: -829px -934px;} /*待处理左*/
.vl_icon_statistics_6{width: 83px; height: 83px; background-position: -722px -934px;} /*处理中左*/
.vl_icon_statistics_7{width: 83px; height: 83px; background-position: -612px -934px;} /*处理完成左*/
.vl_icon_statistics_8{width: 83px; height: 83px; background-position: -504px -934px;} /*事件数量左*/
.vl_icon_statistics_control_0{width: 65px; height: 34px; background-position: -630px -1097px;} /*事件布控-已布控*/
.vl_icon_statistics_control_1{width: 65px; height: 39px; background-position: -730px -1092px;} /*事件布控-未布控*/
/******管理*******/
.vl_icon_manage_1{width: 25px; height: 20px; background-position: -456px -376px;} /*搜索*/
.vl_icon_manage_2{width: 20px; height: 20px; background-position: -368px -350px;} /*成员管理--部门架构*/
.vl_icon_manage_3{width: 20px; height: 20px; background-position: -368px -376px;} /*管理组信息--基础信息库*/
.vl_icon_manage_4{width: 23px; height: 23px; background-position: -499px -373px;} /*添加--视频设置*/
.vl_icon_manage_5{width: 28px; height: 28px; background-position: -714px -428px;} /*可用设备--视频设置--临时授权*/
.vl_icon_manage_6{width: 15px; height: 17px; background-position: -325px -376px;} /*摄像头--视频设置--临时授权*/
.vl_icon_manage_7{width: 20px; height: 19px; background-position: -584px -377px;} /*编辑--视频设置--自定义组*/
.vl_icon_manage_8{width: 20px; height: 19px; background-position: -694px -377px;} /*删除--视频设置--自定义组*/
.vl_icon_manage_9{width: 186px; height: 196px; background-position: -98px -1255px;} /*无数据图标--视频设置--自定义组*/
.vl_icon_manage_10{width: 18px; height: 18px; background-position: -412px -374px;}
.vl_icon_manage_11{width: 22px; height: 22px; background-position: -802px -529px;} /*权限管理---拖拽--未选中*/
.vl_icon_manage_12{width: 22px; height: 22px; background-position: -802px -554px;} /*权限管理---拖拽--选中*/
.vl_icon_manage_13{width: 22px; height: 22px; background-position: -831px -529px;} /*权限管理---添加--未选中*/
.vl_icon_manage_14{width: 22px; height: 22px; background-position: -831px -554px;} /*权限管理---添加--选中*/
.vl_icon_manage_15{width: 18px; height: 22px; background-position: -370px -376px;} /*禁用摄像头--视频设置--临时授权*/
.vl_icon_manage_16{width: 16px; height: 16px; background-position: -482px -671px;} /*视频设置--临时授权--终止*/
.vl_icon_manage_17{width: 16px; height: 16px; background-position: -713px -585px;} /* 文件下载 */
.vl_icon_manage_18{width: 16px; height: 16px; background-position: -744px -585px;} /* 文件上传 */
.vl_icon_manage_19{width: 32px; height: 32px; background-position: -911px -468px;} /* 卡口管理-查看详细 */
/**告警图标***/
.vl_icon_task_1{width: 46px; height: 46px; background-position: -592px -1522px;}
.vl_icon_task_2{width: 46px; height: 46px; background-position: -662px -1522px;}
.vl_icon_task_3{width: 46px; height: 46px; background-position: -731px -1522px;}
/*****档案管理图标*****/
.vl_icon_archives_1{width: 117px; height: 117px;background-position: -99px -1732px;} /*出车状态*/
.vl_icon_archives_2{width: 117px; height: 117px;background-position: -632px -1732px;} /*正常状态*/
.vl_icon_archives_3{width: 117px; height: 117px;background-position: -367px -1732px;} /*启用状态*/
.vl_icon_archives_4{width: 15px; height: 20px;background-position: -912px -1728px;} /*地图图标*/
.vl_icon_archives_5{width: 117px; height: 117px;background-position: -234px -1732px;} /*在库状态*/
.vl_icon_archives_6{width: 117px; height: 117px;background-position: -498px -1732px;} /*停用状态*/
.vl_icon_archives_7{width: 117px; height: 117px;background-position: -765px -1732px;} /*警告状态*/

.vl_icon_map_o01 { width: 34px; height: 34px; background-position: -640px -130px; }
.vl_icon_map_o02 { width: 34px; height: 34px; background-position: -686px -130px; }
.vl_icon_map_o03 { width: 34px; height: 34px; background-position: -780px -130px; }

.vl_icon_sm_sj { width: 14px; height: 15px; background-position: -786px -376px; }
.vl_icon_sm_sxt { width: 14px; height: 15px; background-position: -324px -377px; }
.vl_icon_sm_cl { width: 14px; height: 15px; background-position: -939px -530px; }

/** 车辆侦查  --尾随分析   **/
.vl_icon_tail_1{width: 17px; height: 17px;background-position: -785px -373px;} /*时间图标*/
.vl_icon_tail_2{width: 18px; height: 18px;background-position: -936px -526px;} /*车辆图标*/


.vl_icon_position_1{width: 17px; height: 17px;background-position: -686px -668px;} /*定位 地图图标*/

.vl_icon_04_019{width: 90px; height: 90px;background-position: -318px -1071px;} /* 地图---起点图标 */
.vl_icon_05_019{width: 90px; height: 90px;background-position: -422px -1071px} /* 地图---终点图标 */

.vl_icon2 {
  display: inline-block;
  width: 102px; height: 108px;
  background-repeat: no-repeat;
  background-image: url(../img/icons2.png);
  /* transition: .4s ease-out; */
}
/**车辆侦察**/
.vl_icon2_001 { background-position: -36px -38px; }
.vl_icon2_001:hover { background-position: -35px -148px; }
.vl_icon2_002 { background-position: -172px -38px; }
.vl_icon2_002:hover { background-position: -171px -148px; }
.vl_icon2_003 { background-position: -308px -38px; }
.vl_icon2_003:hover { background-position: -307px -148px; }
.vl_icon2_004 { background-position: -444px -38px; }
.vl_icon2_004:hover { background-position: -443px -148px; }
.vl_icon2_005 { background-position: -582px -38px; }
.vl_icon2_005:hover { background-position: -581px -148px; }
.vl_icon2_006 { background-position: -718px -38px; }
.vl_icon2_006:hover { background-position: -717px -148px; }
.vl_icon2_007 { background-position: -854px -38px; }
.vl_icon2_007:hover { background-position: -853px -148px; }
.vl_icon2_008 { background-position: -1396px -296px; }
.vl_icon2_008:hover { background-position: -1395px -420px; }

.vl_icon2_011 { background-position: -36px -293px; }
.vl_icon2_011:hover { background-position: -35px -417px; }
.vl_icon2_012 { background-position: -172px -293px; }
.vl_icon2_012:hover { background-position: -171px -417px; }
.vl_icon2_013 { background-position: -308px -293px; }
.vl_icon2_013:hover { background-position: -307px -417px; }
.vl_icon2_014 { background-position: -444px -293px; }
.vl_icon2_014:hover { background-position: -443px -417px; }
.vl_icon2_015 { background-position: -582px -293px; }
.vl_icon2_015:hover { background-position: -581px -417px; }
.vl_icon2_016 { background-position: -718px -293px; }
.vl_icon2_016:hover { background-position: -717px -417px; }
.vl_icon2_017 { background-position: -854px -293px; }
.vl_icon2_017:hover { background-position: -853px -417px; }
.vl_icon2_018 { background-position: -990px -293px; }
.vl_icon2_018:hover { background-position: -989px -417px; }
.vl_icon2_021 { background-position: -990px -38px; }
.vl_icon2_021:hover { background-position: -989px -148px; }
.vl_icon2_022 { background-position: -1126px -38px; }
.vl_icon2_022:hover { background-position: -1125px -148px; }
.vl_icon2_023 { background-position: -1262px -38px; }
.vl_icon2_023:hover { background-position: -1261px -148px; }
.vl_icon2_024 { background-position: -1398px -38px; }
.vl_icon2_024:hover { background-position: -1397px -148px; }
.vl_icon2_025 { background-position: -1126px -293px; }
.vl_icon2_025:hover { background-position: -1125px -417px; }

.vl_icon2_026 { background-position: -1260px -293px; }
.vl_icon2_026:hover { background-position: -1259px -417px; }
.vl_icon2_027 { background-position: -1398px -293px; }
.vl_icon2_027:hover { background-position: -1397px -417px; }
/**人像检索**/
.vl_icon2_101 { background-position: -23px -566px; }
.vl_icon2_101:hover { background-position: -22px -683px; }
.vl_icon2_102 { background-position: -159px -566px; }
.vl_icon2_102:hover { background-position: -158px -683px; }
.vl_icon2_103 { background-position: -295px -566px; }
.vl_icon2_103:hover { background-position: -294px -683px; }
.vl_icon2_104 { background-position: -431px -566px; }
.vl_icon2_104:hover { background-position: -430px -683px; }
.vl_icon2_105 { background-position: -567px -566px; }
.vl_icon2_105:hover { background-position: -566px -683px; }
.vl_icon2_106 { background-position: -703px -566px; }
.vl_icon2_106:hover { background-position: -702px -683px; }
.vl_icon2_107 { background-position: -839px -566px; }
.vl_icon2_107:hover { background-position: -838px -683px; }
.vl_icon2_108 { background-position: -975px -566px; }
.vl_icon2_108:hover { background-position: -974px -683px; }
.vl_icon2_109 { background-position: -1111px -566px; }
.vl_icon2_109:hover { background-position: -1110px -683px; }
.vl_icon2_110 { background-position: -1247px -566px; }
.vl_icon2_110:hover { background-position: -1246px -683px; }
.vl_icon2_111 { background-position: -1375px -566px; }
.vl_icon2_111:hover { background-position: -1374px -683px; }
.vl_icon2_112 { background-position: -23px -815px; }
.vl_icon2_112:hover { background-position: -22px -932px; }
.vl_icon2_113 { background-position: -159px -815px; }
.vl_icon2_113:hover { background-position: -157px -933px; }

/* 车辆侦查 */
.vl_icon_vehicle_01 {width: 100px; height: 85px; background-position: -916px -1478px;}
.vl_icon_th_01 {width: 100px; height: 85px; background-position: -88px -587px;}
.vl_icon_vehicle_02 {width: 30px; height: 162px; background-position: -976px -1280px;}  
.vl_icon_vehicle_02:hover {width: 30px; height: 162px; background-position: -1036px -1280px;}     
.vl_icon_vehicle_03 {width: 30px; height: 162px; background-position: -1096px -1280px;}
.vl_icon_vehicle_03:hover {width: 30px; height: 162px; background-position: -1156px -1280px;}
.vl_icon_vehicle_04 {width: 40px; height: 50px; background-position: -1244px -188px;}

/* 车辆侦查  --车流量统计 */
.vl_icon_vehicle_cll_01{width: 40px;height: 40px;background-position: -952px -192px;}
.vl_icon_vehicle_cll_01:hover{background-position: -1095px -192px;}
.vl_icon_vehicle_cll_02{width: 40px;height: 40px;background-position: -999px -192px;}
.vl_icon_vehicle_cll_02:hover{background-position: -1142px -192px;}
.vl_icon_vehicle_cll_03{width: 40px;height: 40px;background-position: -1046px -192px;}
.vl_icon_vehicle_cll_03:hover{background-position: -1190px -192px;}

/* 车辆侦查  --过车数据统计 */
.vl_icon_vehicle_gcsj_01{width: 83px;height: 83px;background-position: -966px -939px;}
.vl_icon_vehicle_gcsj_02{width: 83px;height: 83px;background-position: -1070px -938px;}
.vl_icon_vehicle_gcsj_03{width: 83px;height: 83px;background-position: -1172px -937px;}
.vl_icon_vehicle_gcsj_04{width: 83px;height: 83px;background-position: -1274px -931px;}

/* 人脸检索  --人脸数据分析 */
.vl_icon_portrait_rlsjfx_01{width: 70px;height: 70px;background-position: -924px -1036px;}
.vl_icon_portrait_rlsjfx_02{width: 70px;height: 70px;background-position: -1026px -1036px;}
.vl_icon_portrait_rlsjfx_03{width: 70px;height: 70px;background-position: -1131px -1036px;}
.vl_icon_portrait_rlsjfx_04{width: 70px;height: 70px;background-position: -1235px -1036px;}
.vl_icon_portrait_rlsjfx_05{width: 70px;height: 70px;background-position: -1338px -1036px;}
.vl_icon_portrait_rlsjfx_06{width: 70px;height: 70px;background-position: -1442px -1036px;}

/* 人像检索 */
.vl_icon_portrait_01 {width: 62px; height: 56px; background-position: -982px -1168px;}
.vl_icon_portrait_02 {width: 14px; height: 19px; background-position: -964px -376px;}

.vl_content_pad { padding: 10px; }

/* 地图收缩图标 */
.vl_icon_map_shrinkage_01{ width: 28px;height: 178px;background-position: -976px -1269px;}
.vl_icon_map_shrinkage_02 { width: 28px;height: 178px;background-position: -1096px -1269px;}

/* 全局字体颜色 */
.vl_f_333{color: #333;}
.vl_f_666{color: #666;}
.vl_f_999 {color: #999;}
/* 全局字体大小 */
.vl_f_16{font-size: 16px;}
.vl_f_12{font-size: 12px;}
/* 表格操作项 */
.table_box .operation_btn{
  color: #0C70F8;
  cursor: pointer;
}
.table_box .operation_wire{
  display: inline-block;
  padding: 0 5px;
  color: #F2F2F2;
}
/* 全局表格或者列表无内容样式 */
.not_content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ========== element ui reset ========== */
.el-badge__content {
   border: 0 !important;
   background-color: #FA453A;
}

/* 左侧二级菜单样式 */
.vl_smenu {
  background-color: #ffffff;
  position: absolute; top: 0; left: 0; z-index: 19;
  width: 200px; height: 100%;
  padding-bottom: 10px;
  box-shadow:4px 0px 10px 0px #838383;
  box-shadow:4px 0px 10px 0px rgba(131,131,131,0.28);
  /* animation: fadeInLeft .4s ease-out .3s both; */
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
.vl_smenu > li {
  height: 60px; line-height: 60px;
  text-align: center;
}
.vl_smenu > li > a {
  display: block;
  width: 100%; height: 100%;
  padding-right: 10px;
  color: #282D44; font-size: 14px;
  text-decoration: none !important;
  border-left: 4px solid #fff;
  transition: all .4s ease-out;
  cursor: pointer;
}
.vl_smenu > li > a.router-link-active {
  color: #0C70F8;
  border-color: #0C70F8;
  background-color: #E0F3FF;
  cursor: default;
}
.vl_smenu > li > a:hover {
  color: #0C70F8;
}
.vl_smenu .vl_smenu_dis {
  cursor: not-allowed;
  color: #999 !important;
}

/* ========== 地图板块 ========== */
 .vl_map_lc_dt_inp {
   width: 100%;
 }
 .vl_map_lc_dt_inp input {
   background-color: #F2F2F2;
   border: 1px solid #DFDFDF !important;
   box-shadow:4px 0px 15px 0px rgba(131,131,131,0.23);
   border-radius: 14px;
   padding-right: 40px;
   font-size: 12px;
 }
 .vl_map_rt_cks {
   display: inline-block;
 }
/* 地图标记 hover */
 .vl_map_hover {
   position: relative;
   width: 2px;
   height: 2px;
   cursor: default;
 }
 .vl_map_hover_main {
   position: absolute; bottom: 38px; left: -103px;
   width: 200px;
   background-color: #fff;
   color: #666;
   border-radius: 4px;
   box-shadow:0px 12px 14px 0px rgba(148,148,148,0.4);
 }
.vl_main_hover_address {
    position: absolute; bottom: 59px; left: -150px;
    width: 200px;
    background-color: #fff;
    color: #666;
    border-radius: 4px;
    box-shadow:0px 12px 14px 0px rgba(148,148,148,0.4);
 }
 .machine_map_hover:after, .vl_main_hover_address:after {
  left: 40% !important;
 }
 .vl_map_hover_main:after, .vl_main_hover_address:after {
   border-bottom-color: rgba(0, 0, 0, 1);
   content: "";
   display: inline-block;
   position: absolute;
   left: 50%;
   margin-left: -5px;
   bottom: -10px;
   border-top: 10px solid #fff;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
 }
 .vl_map_hover_main > ul {
   padding: 10px;
 }
 .vl_map_hover_main > ul > li {
   display: flex;
   padding: 2px 0;
   color: #333;
 }
 .vl_map_hover_main > ul > li > span {
   display: inline-block;
   width: 70px;
   text-align: right;
   color: #666;
 }
.vl_map_hover_main > ul > li > p {
    display: inline-block;
    text-align: left;
    color: #666;
    width: 110px;
}
 .vl_map_hover_main .vl_map_hover_btn {
   display: inline-block;
   padding: 0 10px;
   height: 26px; line-height: 26px;
   background-color: #0D9DF4;
   border-radius:4px;
   font-size: 13px; color: #fff; font-style: normal;
   margin: 5px 5px 0 5px;
   cursor: pointer;
   transition: background-color .4s ease-out;
 }
 .vl_map_hover_main .map_hover_comState {
   padding: 10px 0;
   font-size: 12px;
 }
 .vl_map_hover_main 

/* 标注窗口 */
.vl_map_mk {
   position: relative;
   width: 2px; height: 2px;
   cursor: pointer;
}
.vl_map_mk_main {
   position: absolute; top: -40px; left: 30px;
   width: 280px; min-height: 100px;
   padding: 20px;
   background-color: #fff;
   color: #666;
   border-radius: 4px;
   box-shadow:0px 12px 14px 0px rgba(148,148,148,0.4);
   cursor: default;
 }
 .vl_map_mk_main:after {
   border-bottom-color: rgba(0, 0, 0, 1);
   content: "";
   display: inline-block;
   position: absolute; left: -10px; top: 30px;
   border-bottom: 10px solid transparent;
   border-top: 10px solid transparent;
   border-right: 10px solid #fff;
 }
 .vl_map_mk_main > textarea {
   width: 100%;
   border: 0;
   border-bottom: 1px solid #93B1E0;
 }
 .vl_map_mk_main > div { position: relative; text-align: center; padding-top: 20px; }
 .vl_map_mk_main > div > p {
    display: none;
    position: absolute; top: 0; left: 0;
    width: 100%;
    text-align-last: left;
    color: #FA453A;
  }
 .vl_map_mk_main .vl_map_mk_btn {
   display: inline-block;
   width: 80px; height: 30px; line-height: 30px;
   text-align: center;
   border-radius: 4px;
   cursor: pointer;
   border: 0;
 }
 .vl_map_mk_main .vl_map_mk_btn1 {
   background-color: #fff;
   color: #0C70F8;
   border: 1px solid #0C70F8;
 }
 .vl_map_mk_main .vl_map_mk_btn1:disabled { color: #999; border-color: #999; cursor: not-allowed; }
 .vl_map_mk_main .vl_map_mk_btn2 {
   background-color: #0C70F8;
   color: #fff;
 }
 .vl_map_mk_main .vl_map_mk_btn2:disabled { color: #fff; cursor: not-allowed; background-color: #a0cfff; }
/* 选择区域控制 */
.vl_map_selarea_ctl {}
.vl_map_selarea_ctl .vl_map_selarea_hide {
   display: none;
}
/* 测距样式 */
.vl_map_ranging {
   width: 24px; height: 24px;
   background-color: #fff;
   border-radius: 50%;
   position: relative;
}
.vl_map_ranging > div {
   position: absolute; top: 12%; left: 12%;
   width: 76%; height: 76%;
   border-radius: 50%;
   background-color: #0C70F8;
   color: #fff;
}
.vl_map_ranging_s {

}
.vl_map_ranging_m {
}
.vl_map_ranging_e {
   width: 34px; height: 34px;
   font-size: 14px;
   text-align: center;
}
.vl_map_ranging_e > div { padding-top: 3px; }
.vl_map .amap-ranging-label {
   padding: 0 12px;
   background-color: #0C70F8;
   color: #fff;
   border-radius: 12px;
}
.vl_map .amap-ranging-label > span {
   display: inline-block;
   line-height: 26px;
   height: 26px;
   vertical-align: middle;
}
.vl_map .amap-ranging-label > span > img{
   padding-left: 2px;
}

.login_form_item .el-input__inner { padding: 0 30px; }

/** 表格样式 **/
.el-table {
  color: #666666;
}
.el-table th {
  background-color: #F7F7F7;
}
.el-table thead {
  color: #333333;
}
.el-table .hover-row>td {
  background-color: #E6F7FF !important;
}
.el-table th>.cell {
  font-weight: bolder;
}

/** 分页样式 **/
.cum_pagination {
  text-align: right;
  padding: 20px;
}
.cum_pagination .btn-prev, .cum_pagination .btn-next {
  width: 32px;
  height: 32px;
  padding: 0;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  color: #333333;
}
.cum_pagination .el-pager li.active {
  color: #ffffff;
  width: 32px;
  height: 32px;
  background-color: #0C70F8;
  border-radius: 5px;
}
.cum_pagination .el-pager li {
  width: 32px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  color: #333333;
  margin: 0 5px;
  font-weight: 500;
}

/** 面包屑导航样式 **/
.breadcrumb_heaer {
  padding: 20px;
}
.el-breadcrumb__inner a, .el-breadcrumb__inner.is-link {
  color: #999999;
  font-weight: 400;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
  color: #333333;
  font-weight: 400;
}
.el-breadcrumb__separator {
  color: #999999;
}

/** 上传图片组件 **/
.el-upload--picture-card {
  width: 100px;
  height: 100px;
  line-height: 100px;
  background-color: #F5F5F5;
  border: 1px solid #F5F5F5;
  position: relative;
}
.el-upload--picture-card  i {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  color: #9F9F9F;
}
.el-upload--picture-card .add-img-text {
  color: #666666;
  font-size: 14px;
  display: block;
  width: 28px;
  height: 22px;
  position: absolute;
  top: 25%;
  left: 35%;
}
.el-upload-list--picture-card .el-upload-list__item {
  width: 104px;
  height: 104px;
}

/* element-ui 日期选择器el-date-picker reset */
.date-comp .el-date-editor .el-range-separator {
  width: 30px;
  text-align: center;
}
.date-comp .el-date-editor .el-range-input {
  width: 52%;
}
.date-comp .el-range-editor.el-input__inner {
  padding: 3px 0 3px 10px;
}
.el-date-editor .el-range-separator {
  width: 30px;
  text-align: center;
}
/* 重置全局弹窗样式 */
.el-dialog{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 !important;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}
.el-dialog__wrapper .el-dialog__body{
  padding: 0px 20px 30px;
}
.el-dialog__wrapper .el-dialog__footer{
  text-align: center;
}
.el-dialog__wrapper .el-dialog__footer .el-button{
  width: 140px !important;
}
/* 滑动开关颜色 */
.el-switch.is-checked .el-switch__core {
  border-color: #086BEC;
  background-color: #086BEC;
}

/**输入框，下拉框样式**/
.el-input__inner:hover, .el-textarea__inner:hover, .el-select .el-input__inner:hover{
  border-color: #0C70F8;
  cursor: pointer;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background-color: #EDF9FF;
  color: #333333;
}
.el-select-dropdown__item.selected {
  background-color: #FAFAFA;
  color: #333333;
  font-weight: bold;
}
.el-form-item.is-success .el-input__inner, 
.el-form-item.is-success .el-input__inner:focus, 
.el-form-item.is-success .el-textarea__inner, 
.el-form-item.is-success .el-textarea__inner:focus {
  border-color: #D3D3D3;
}

/*******弹出框公共样式********/
.dialog_comp .el-dialog__title {
  color: #333333;
  font-size: 16px;
}
.dialog_comp .el-dialog__footer .el-button:first-child {
  background-color: #ffffff;
  color: #666666;
  border: 1px solid #D3D3D3;
}
.dialog_comp .el-dialog__footer .el-button:last-child {
  background-color: #0C70F8;
  color: #ffffff;
}


/******提示信息样式**********/
.el-message {
  width: auto;
  min-width: 0;
}
/*所有请求返回的提示样式*/
.request_tip {
  top: 50%;
  left: 50%;
}
.left_error_tip {
  top: 300px !important;
  left: 130px;
}
/*部门管理--删除部门的提示样式*/
.delete_depart {
  top: 350px;
  left: 450px;
}
/*添加预案--上传文件的提示样式*/
.upload_file_tip {
  top: 320px;
  left: 460px;
}
.el-message--success, .el-message--warning {
  background:#000000;
  box-shadow:0px 4px 12px 0px rgba(0,0,0,0.15);
  border-radius:4px;
  border-color: none;
}
.el-message--success .el-message__content, .el-message--warning .el-message__content {
  color: #FFFFFF;
}

/****数据统计分析图表样式***/
.e_stat_tb_ld1 {
  width: 200px;
  left: auto !important;
  right: 40px !important;
  top: 5% !important;
  overflow: hidden !important;
}
.e_stat_tb_ld1 .g2-legend-list {
  overflow: hidden;
  width: 200px;
}
.e_stat_tb_ld1 .g2-legend-list-item {
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  width: 50%; float: left;
  padding: 5px;
}
.e_stat_tb_ld1 .g2-legend-list-item > div {
  border-radius: 4px;
  border: 1px solid #F2F2F2;
  background-color: #fff;
  padding: 5px 10px;
  box-shadow: 0px 1px 12px 0px rgba(114,114,114,0.1);
  border-radius: 3px;
}
.e_stat_tb_ld1 .g2-legend-list-item > div > div {
  font-weight: bold;
  font-size:22px;
  color: #333333;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  position: relative;
  padding-left: 20px;
}
.e_stat_tb_ld1 .g2-legend-list-item > div > div > i {
  display: inline-block;
  position: absolute; top: 6px; left: 0px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  /* background-color: rgba(0, 162, 255, 0.4); */
}
.e_stat_tb_ld1 .g2-legend-list-item > div > div > i > i {
  display: inline-block;
  position: absolute; top: 4px; left: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  /* background-color: rgba(0, 162, 255, 1); */
}
.e_stat_tb_ld1 .g2-legend-list-item > div > p {
  color: #999;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
}

.e_stat_tb_ld4 {
  left: auto !important;
  right: 30px !important;
  width: 200px !important;
  top: 25% !important;
}
.e_stat_tb_ld4 .g2-legend-list-item {
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  padding: 5px;
  border-bottom: 1px solid #F2F2F2;
}
.e_stat_tb_ld4 .g2-legend-list-item:last-child {
  border-bottom: 0;
}
.e_stat_tb_ld4 .g2-legend-list-item > div {
  position: relative;
  height: 60px;
  padding-left: 10px;
}
.e_stat_tb_ld4 .g2-legend-list-item > div > span {
  position: absolute; top: 10px; left: 0;
  width: 4px; height: 30px;
  border-radius: 2px;
}
.e_stat_tb_ld4 .g2-legend-list-item > div > i {
  position: absolute; top: 17px; right: 5px;
  /* width: 34px; height: 19px; */
  /* background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  background-image: url(../img/stat/stat-052.png); */
}
.e_stat_tb_ld4 .g2-legend-list-item > div > div > div {
  color: #999;
  height: 16px; line-height: 16px;
}
.e_stat_tb_ld4 .g2-legend-list-item > div > div > p {
  color: #333333;
  font-size: 20px;
  font-weight: 600;
  padding-top: 7px;
  height: 27px; line-height: 20px;
}

/***********单选框//多选框样式**************/
.el-radio__input.is-checked .el-radio__inner{
  border-color: #0C70F8;
  background: #ffffff;
}
.el-radio__inner::after {
  background-color: #0C70F8;
  width: 8px;
  height: 8px;
}
.el-radio__input.is-checked+.el-radio__label, .el-checkbox__input.is-checked+.el-checkbox__label {
  color: #333333;
}
.el-checkbox__input.is-checked .el-checkbox__inner {
  border-color: #0C70F8;
  background: #0C70F8;
}

/* s */
.vl_vid_sdater {  }
.vl_vid_sdater > input { 
  padding: 0 2px 0 30px !important;
 }

 /* 下载按钮样式 */
 .vid_dowload_btn {
  display: inline-block;
  margin-left: 20px;
  width: 140px; height: 40px; line-height: 40px;
  font-weight: 500; font-size: 14px; color: #FFF;
  background-color: #409EFF;
  border-color: #409EFF;
  white-space: nowrap;
  cursor: pointer;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: .1s;
  transition: .1s;
  -ms-user-select: none;
  border-radius: 4px;
 }
 .vid_dowload_btn:hover { text-decoration: none; }
 .vid_dowload_btn:link { text-decoration: none; }

 .address_icon {
   vertical-align: middle;
   cursor: pointer;
 }
 /* .address_input .el-input__inner:hover .el-input-group__append {
  border-color: #0C70F8 !important;
} */

/* th css style create by th */
.th-breadcrumb {
  width: 100%; height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0 18px;
  border-bottom: 1px solid #D3D3D3;
}
.th-button-export {
  width: 100px; height: 40px;
  font-size: 14px;
}
.th-button-export-color {
  min-width: 100px; height: 40px;
  padding: 0 15px;
  font-size: 14px;
  background-color: #0C70F8;
  color: #fff;
}
.th-button-export-color:focus,
.th-button-export-color:hover {
  background-color: #0C70F8;
  color: #fff;
  border-color: #0C70F8;
}
.the-table .el-table__header tr{
  height: 54px;
}
.the-table .el-table__body .el-table__row {
  height: 55px;
}
.the-table .el-table__body .el-table__row:hover td {
  background: #E6F7FF;
}

/*elementui primary标注button颜色*/
.el-button--primary {
    background-color: #0C70F8;
    border-color: #0C70F8;
}
/* th css style create by th */
html {
    font-size: 100px;
}
@media screen and (min-width: 960px) and (max-width: 1119px) {html {font-size: 60px;}}
@media screen and (min-width: 1200px) and (max-width: 1439px) {html {font-size: 70px;}}
@media screen and (min-width: 1440px) and (max-width: 1679px) {html {font-size: 80px;}}
@media screen and (min-width: 1680px) and (max-width: 1919px) {html {font-size: 90px;}}
@media screen and (min-width: 1920px) {html {font-size: 100px;} }


.obox{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 9999;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center; /*垂直居中*/
  justify-content: center; /*水平居中*/
  animation: fadeIn 0.3s ease-out 0.1s both;
  
}
.obox img {
  width: auto;
  height: auto;
   max-width: 100%;
  max-height:100vh;
 
}
.dilage{
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.6);
  animation: fadeIn 0.2s ease-out 0.2s both;
}

.vl_date .el-icon-date:before {
  content: "从" !important;
  color: #999;
}
.vl_date.vl_date_end .el-icon-date:before {
  content: "至" !important;
  color: #999;
}
.vl_date .el-icon-time:before {
  content: "从" !important;
  color: #999;
}
.vl_date.vl_date_end .el-icon-time:before {
  content: "至" !important;
  color: #999;
}
.vl_date .el-range-separator {
  color: #999 !important;
}

.el-button.is-disabled, .el-button.is-disabled:focus, .el-button.is-disabled:hover {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  color: #b2b2b2; 
}