<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>vue练习</title>
</head>
<body>
  <div id="app">
    <p @click="add">{{userInfo.userName}}</p>
    <div>{{message}}</div>
    <p>{{userInfo.userName}}</p>
    <p>国家:{{userInfo.nation}}</p>
    <p>地址:{{userInfo.address}}</p>
  </div>
</body>
<script>
  var vue = new Vue({
    el: '#app',
    data: {
      message: 'Hello World!',
      userInfo: {
        userName: '张三',
        sex: '男',
        age: 19
      }
    },
    mounted () {
      this.userInfo.userName = '里斯'
      // this.set(this.userInfo, 'userName', '李四');
      // this.userInfo.address = '长沙市'
    },
    methods: {
      add () {

        // this.$set(this.userInfo, 'userName', '李四');

        // this.userInfo.nation = '中国'
        // this.userInfo.address = '湘潭县'
        this.$set(this.userInfo, 'address', '湖南省长沙市')

        console.log(this.userInfo)
      }
    }
  });
</script>
</html>