<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <script>
      function add () {
        var result = 0;
        console.log('arguments', arguments)
        const arr = Array.prototype.slice(arguments);
        console.log(arr)
        for (let i = 0; i<arguments.length;i++) {
          result = result + arguments[i];
        }
        return result;
      }
      var r = add(5,3,6,7);
      console.log(r);

      function foo (num = 4) {
        console.log(num);
      }
      foo(); // 4
      foo(45); //45
      foo(undefined); // 4

      function dd (val) {
        // console.log(num)
        if (val) {
          // console.log(num)
          let num = 10;
          var num1 = 30;
        }
        // console.log(num1)
        // console.log(num)
      }
      dd(true);

      var bar = null;
      console.log(typeof bar === 'object')
    </script>
  </body>
</html>